main {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.recommended {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 240px;
    row-gap: 30px;
    margin-left: auto;
}

.main-video {
    width: 70%;
    overflow: hidden;
    border-radius: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
}

.main-video video {
    width: 100%;
    border-radius: 10px;
}

.main-video h1 {
    margin-bottom: 0px;
}

.main-video .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-video .info .feedback {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px;
    border-width: 100%;
    border-style: solid;
    border-color: green;
}
.main-video .info .feedback p {
    margin-bottom: 0;
}

.channel-container {
    display: flex;
    flex-direction: row;
    width: auto;
}

.channel {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.channel p {
    font-size: 18px;
}

.share {
    cursor: pointer;
}

hr.line {
    background-color: #1E1E1E;
    width: 100%;
    height: 2px;
}

.comments-info {
    font-weight: bold;
    font-size: 18px;
}

.my-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-comment input {
    background-color: #1E1E1E;
    width: calc(100% - 60px);
    padding: 20px;
    color: #ffffff;
    font-size: 16px;
}

.user-comment {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    column-gap: 20px;
    row-gap: 10px;
}

.user-comment img {
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: flex-start;
}

.user-comment p.channel-name {
    font-size: 16px;
    margin: 0;
}

.user-comment p.content {
    margin: 0;
}
